.lol img {
	width: 250px;
	float: left;
	padding-right: 30px;
	margin-top: -20px
}

@media only screen and (max-width: 800px) {
	.lol img {
		padding-right: none;
		padding-bottom: 10px;
		float: none;
		display: block;
		margin: 0 auto;
	}

}

.getit {
	font-family: "Merriweather", "PT Serif", Georgia, "Times New Roman", serif;
	margin-bottom: 20px
}